<p>
  project-detail works!
</p>

<h2>{{projectId}}</h2>
<div>
  <h3>{{(projectToDisplay | async)?.name}}</h3>
  <p>{{(projectToDisplay | async)?.description}}</p>
  <!-- <h4>{{(projectToDisplay | async)?.managers}}</h4> -->
  <h4>Progress: {{(projectToDisplay | async)?.currentFund}} out of {{(projectToDisplay | async)?.fundGoal}}</h4>
  <h4>{{(projectToDisplay | async)?.fundUtil}}</h4>
  <h4>{{(projectToDisplay | async)?.rewards}}</h4>

</div>

<div class="user-form">
    <div class="form-group">
        <input type="text" #newUserName>
    </div>
    <div class="form-group">
        <input type="number" #newDonation>
    </div>
    <button (click)="addDonation(newUserName.value, newDonation.value)">Donate</button>
</div>
